.box-container {
  margin: auto;
  border: 2px solid rgb(72, 72, 72);
  background-color: rgb(79, 79, 79);  
  box-shadow: 0 15px 30px rgba(75, 75, 75, 0.12), 0 5px 10px rgba(39, 39, 39, 0.24);
  color: rgb(209, 209, 209);
  padding: 10px;
  border-radius: 20px;
  overflow-y: scroll;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

ol {
  display: inline-block;
}

ul {
  display: inline-block;
  margin-top: 0;
}

li {
  text-align: left;
}

img {
  max-height: 250px;
  max-width: 500px;
  height: 100%;
  width: 100%;
}