.sticky-note {
  height: 100px;
  width: 150px;
  color: #000;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  display: inline-block;
  margin: 10px;
  font-family: 'Reenie Beanie', cursive;
}

.sticky-note p {
  position: relative;
  top: -30px;
  font-size: 30px;
}

.sticky-note:nth-child(odd) {
  transform: rotate(4deg);
  background-color: #ffc;
}
.sticky-note:nth-child(even) {
  transform: rotate(-4deg);
  background: #cfc;
}
