.tile {
  padding: 3px;
  margin: 5px;
  height: 50px;
  width: 35px;
  border-radius: 10px;
  color: rgb(232, 232, 232);
  display: inline-block;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
}

.tile-value {
  font-size: 24px;
  margin: 0px;
}

.tile-points {
  font-size: 12px;
  margin: 5px;
}