.user-stand {
  padding: 10px;
}

.user-stand-tile-box {
  border: 2px solid rgb(72, 72, 72);
  border-radius: 15px;
  min-height: 60px;
  margin: 0px auto 20px;
  max-width: 480px;
  width: 95%;
  padding: 10px;
  background-color: rgb(79, 79, 79);
  box-shadow: 0 15px 30px rgba(75, 75, 75, 0.12), 0 5px 10px rgba(39, 39, 39, 0.24);
}

@media only screen and (max-width: 550) {
  .user-stand-tile-box {
    padding: 5px;
  }
}